<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status Meteo</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/ng/modal.css">

    <link href="/scripts/angularjs-datepicker/dist/angular-datepicker.min.css" rel="stylesheet">

    <style>
        .hide {
            display: none;
        }
        .show {
            display: block;
        }
        
        body.modal-open {
        /* body overflow is hidden to hide main scrollbar when modal window is open */
            overflow: hidden;
        }

        .modal-open .modal {
            display: block;
        }

        .topic-head {
            cursor: pointer;
        }

        .topic-buttons {
            border: 1px solid #396;
            background-color: #efefef;
            color: #0000a0;
        }

        #mainWrapper {
            margin: 0;
            padding: 0;
        }

        #mainWrapper > header {
            background-color: #339966;
            text-align: center;
        }
        
        #mainWrapper > header > h1 {
            color: white;
        }

        body {
            background-image: url('assets/img/bg.jpg');
            background-repeat: repeat;
        }

        #mainWrapper > .jumbotron {
            background-color: transparent;
        }

        #mainWrapper > .jumbotron h1 {
            text-align: center;
        }

        .Fix {
            text-align: center;
            vertical-align: middle;
            font-size: small;
            font-family: Verdana;
            color: #EFEFEF;
        }

        .forum-head tr {
            padding: 0.5rem 0 0.5rem 0;
            display: block;
        }

        .forum {
            background-color: white;
        }

        .forum-headers-label {
            background-color: #000080;
            color: white;
            font-family: Verdana,Geneva,sans-serif;
            font-size: 9px;
            font-weight: bold;
            display: flex;
            flex-flow: row;
        }

        .forum-headers-label > div {
            border-left: thin white 2px;
            border-right: thin white 2px;
        }

        .forum-headers-table, .forum-headers-table thead tr {
            width: 100%;
        }
        
        .forum-tab {
            font-family: Verdana,Geneva,Tahoma,sans-serif !important;
            font-weight: 700 !important;
            font-size: 13px !important;
        }

        .forum-tab-active {
            font-family: Verdana,Geneva,Tahoma,sans-serif !important;
            font-weight: 700 !important;
            font-size: 30px !important;
        }

        .topic-title {
            font-size: small;
            color: #000000;
            font-family: Verdana;
            font-weight: bold;
        }

        .topic-subtitle {
            font-size: 10px;
            color: #6b6b6b;
            font-weight: 400;
            font-family: Verdana;
        }

    </style>
</head>
<body ng-app="forumApp" ng-cloak>
    
    <div id="mainWrapper" class="container-fluid" ng-controller="ForumController as forum" ng-init="onload()">

        <header class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent !important;">
                <a class="navbar-brand" href="#">StatusMeteo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Forum Home</a>
                        </li>
                        <li class="nav-item dropdown" ng-if="!isLogged()">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" ng-click="openModal('login-modal')">Login</a>
                                <a class="dropdown-item" href="#" ng-click="openModal('register-user-modal')">Register</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" ng-if="isLogged()">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Benvenuto {{current_user.username}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" ng-click="openModal('edit-user-modal')">Modifica Profilo</a>
                                <a class="dropdown-item" href="#" ng-click="goToAdminArea()" ng-if="isAdmin()">Admin Area</a>
                                <a class="dropdown-item" href="#" ng-click="forum.doLogout()">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item active" ng-if="isLogged()">
                            <a class="nav-link" href="#" style="color: rgba(0,0,0,.5);">Login Scade In {{getExpRemainingHours()}}h</a>
                        </li>
                    </ul>
                  <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form> -->
                </div>
              </nav>
        </header>

        <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0; padding-bottom: 8px; padding-top: 8px;">
            <div class="container">
                <h1 class="display-4" style="font-size: 2em; font-family: Verdana; font-weight: bold;">Welcome to STATUS METEO!</h1>
                <p class="lead" style="font-size: x-small; font-family: Verdana; text-align: center;">
                    In questo forum ognuno può esprimere liberamente la propria opinione nei limiti stabiliti dal regolamento. La qualità del forum dipende da quella dei vostri interventi. Fatene buon uso!
                    Descrizione sito amatoriale durante l utilizzo, consigli di acquisto e racconto delle proprie esperienze. Come per l area Discussioni, i thread verranno riportati in evidenza dagli aggiornamenti
                </p>
            </div>
        </div>

        <!-- Forum Threads -->
        <div id="forum_container" class="container-fluid mx-auto" style="width: 100%; height: 100%;">
            <!-- Forum List Nav -->
            <div class="container-fluid forum-tabs-container" style="padding: 0;">
                <nav class="nav nav-pills nav-fill" style="border-bottom:darkgray thin solid;">
                    <!--<a class="nav-link active" href="#">Active</a>
                    <a class="nav-link" href="#">Longer nav link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link disabled" href="#">Disabled</a>-->
                    <li class="nav-item" ng-repeat="f in forumList track by $index" style="border: 0; cursor: pointer;">
                        <a class="nav-link forum-tab-active" ng-if="f.is_active" style="color: {{f.color}}; border-bottom: thick solid {{f.color}};">{{f.title}}</a>
                        <a class="nav-link forum-tab" ng-click="loadForum($event, $index, f)" ng-if="!f.is_active" style="color: {{f.color}}">{{f.title}}</a>
                    </li>
                </nav>
            </div>
            <hr>

            <script type="text/ng-template" id="forumHeadTemplate">
                <!-- <span style="justify-self: flex-start;">Threads</span>
                <button type="button" class="badge badge-pill badge-primary ml-3" style="justify-self: flex-end;" ng-click="openModal('new-topic-editor-modal')">Nuovo</button>-->
                <!-- <button type="button" class="badge badge-pill badge-primary ml-3" style="justify-self: flex-end;" ng-click="sortAll(topics)">Sort</button> -->
                <table border="0" cellpadding="1" cellspacing="1" height="20" class="forum-head" style="min-width:540px; background-color:#215a94; border-color:#EFEFEF;" valign="absmiddle" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <a href="#">
                                    <img border="0" src="assets/Blu_NewMsg.gif" title="Inserisce un nuovo messaggio" ng-click="openModal('new-topic-editor-modal', true)">
                                </a>
                            </td>
                            <td>
                                <input src="assets/Blu_Refresh.gif" title="Aggiorna la pagina e applica i parametri" type="image" ng-click="loadTopics()">
                            </td>
                            <td class="Fix" nowrap="nowrap"><b>&nbsp;Search&nbsp;</b></td>
                            <td>
                                <input maxlength="25" name="find" style="width:160px; font-size: small; color: #000000; font-family: Verdana;" title="Ricerca messaggi" type="text" searchtopics>
                            </td>
                            <td class="Fix" nowrap="nowrap"><b>&nbsp;Data&nbsp;</b></td>
                            <td class="Fix" nowrap="nowrap">
                                <datepicker date-format="dd-MM-yyyy">
                                    <input maxlength="20" name="FD" style="width:120px;" title="Ricerca messaggi per data" type="text" aria-haspopup="true" ng-model="search_date" ng-change="doSearchDate(this)" class="angular-datepicker-input">
                                    <span class="mat-datepicker-toggle" matsuffix="">
                                        <button aria-haspopup="true" mat-icon-button="" type="button" class="mat-icon-button" aria-label="Open calendar" tabindex="0" style="background-color: transparent; border: 0;">
                                            <span class="mat-button-wrapper">
                                                <!---->
                                                <svg class="mat-datepicker-toggle-default-icon ng-star-inserted" fill="currentColor" focusable="false" height="24px" viewBox="0 0 24 24" width="24px">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"></path>
                                                </svg>
                                            </span>
                                            <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </button>
                                    </span>
                                </datepicker>
                            </td>
                            <td width="99%" ng-if="!is_search">&nbsp;</td>
                            <td width="99%" ng-if="is_search" ng-click="doCancelSearch()" style="cursor: pointer; text-align: left;">
                                <div class="rounded" style="width: 80%; text-align: center; background-color: cadetblue; padding: 0.2rem;">
                                    <div class="rounded-circle" style="background-color: white; color: darkgrey; font-family: Arial, sans-serif; width: 1rem; height: 1rem; display: inline-block; line-height: 1rem;">X</div> Cancella Ricerca
                                </div>
                            </td>
                            <td class="Fix" nowrap="nowrap" style="font-size: small;"><b>&nbsp;Pag.N°&nbsp;</b></td>
                            <td><input maxlength="3" name="Pg" style="width:16px;" title="Pagina Corrente" type="text" ng-model="current_page"></td>
                            <td align="left"><img src="assets/Blu_Prev.gif" title="Pagina precedente" type="image" ng-click="forum.goToPreviousPage()"></td>
                            <td align="right"><img src="assets/Blu_Next.gif" title="Pagina successiva" type="image" ng-click="forum.goToNextPage()"></td>
                        </tr>
                    </tbody>
                </table>
            </script>

            <!-- Forum Header Top -->
            <div class="container-fluid pl-0 pr-0" ng-include="'forumHeadTemplate'"></div>

            <table class="forum-headers-table">
                <thead class="forum-headers-label">
                    <tr style="display: flex; text-align: center; flex-flow: row; justify-content: center;">
                        <td style="width:5%;">&nbsp;</td>
                        <td style="width:60%; text-align: center;">Titolo</td>
                        <td style="width:10%; text-align: center;">Risposte</td>
                        <td style="width:10%; text-align: center;">Autore e Localit&agrave;</td>
                        <td style="width:10%; text-align: center;">Ultimo Agg.</td>
                        <td style="width:5%;">&nbsp;</td>
                    </tr>
                </thead>
                <tbody ng-repeat="topic in topics" ng-if="topics.length > 0">

            <!--<div class="container-fluid  pl-0 pr-0 pt-3 pb-3 forum">
                <div class="container-fluid topic px-0" ng-repeat="topic in topics" ng-include="'topicTemplate'"></div>
            </div>-->
                    <tr style="display: flex; flex-flow: row; justify-content: center; background-color: white;">
                        <td style="width:5%;">&nbsp;</td>
                        <td style="width: 60%; cursor: pointer;" ng-click="showTopicText($event, topic)">
                            <div style="width: 100%; margin-left: {{topic.level}}rem">
                                <img src="assets/N_thrnew.gif" alt="Topic" ng-if="topic.level == 1">
                                <img src="assets/L.gif" alt="L" ng-if="topic.level > 1">
                                <!-- style="border-left: thin dotted black; border-bottom: thin dotted black;" -->
                                <img src="assets/N_ThrAns.gif" alt="SubTopic" ng-if="topic.level > 1" style="margin-left: -5px;">
                                <span class="topic-title">{{topic.title}}</span>
                                <br>
                                <span class="topic-subtitle">{{topic.subtitle}}</span>
                            </div>
                        </td>
                        <td style="width:10%; text-align: center; font-size: 13px; font-weight: 700; color: rgba(0,0,0,.54); font-family: Verdana;">{{topic.topics.length}}</td>
                        <td style="width:10%; text-align: center; font-size: 13px; font-weight: 700; color: rgba(0,0,0,.54); font-family: Verdana;">{{topic.username}}</td>
                        <td style="width:10%; text-align: center; font-size: 13px; font-weight: 700; color: rgba(0,0,0,.54); font-family: Verdana;">{{topic.updatedAt | formatDate}}</td>
                        <td style="width:5%;">&nbsp;</td>
                    </tr>

                    <tr ng-if="topic.showText" style="display: flex; flex-flow: row; justify-content: center; background-color: white;" >
                        <td style="width:5%;">&nbsp;</td>
                        <td style="width: 95%;" colspan="5">
                            <div>
                                <p style="font-family: Verdana; font-size: small; color: black; margin-left: {{topic.level*2}}rem" ng-bind-html="topic.text | safeHtml"></p>

                                <hr>
                
                                <div style="display: flex; flex-flow: row; justify-content: flex-end;  padding-bottom: 1.5rem;">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Thread Buttons">
                                        <button type="button" class="btn btn-outline-primary btn-sm topic-buttons" ng-click="forum.topicOnClick('new_topic', topic)">New</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm topic-buttons" ng-click="forum.topicOnClick('add_topic', topic)">Add</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm topic-buttons" ng-click="forum.topicOnClick('reply_topic', topic)">Reply</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm topic-buttons" ng-click="forum.topicOnClick('edit_topic', topic)">Edit</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm topic-buttons" ng-click="forum.deleteTopic(topic)">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>

                <tbody ng-if="topics.length == 0">
                    <tr>
                        <td style="text-align: center; padding-top: 10rem; padding-bottom: 10rem; background-color: white;">Non ci sono discussioni in questo forum</td>
                    <tr>
                </tbody>
            </table>

            <!-- Forum Header Bottom -->
            <div class="container-fluid pl-0 pr-0" ng-include="'forumHeadTemplate'"></div>
        </div>

        <!-- Modals -->

        <modal id="new-topic-editor-modal">
            <div class="modal" ng-if="isLogged()">
                <div class="modal-body">
                    <h1>Add New Topic</h1>
                    <p class="alert alert-danger" ng-if="addNewTopicError">
                        {{addNewTopicError}}
                    </p>
                    <p class="alert alert-success" ng-if="addNewTopicSuccess">
                        {{addNewTopicSuccess}}
                    </p>
                    <p>
                        Topic: <input type="text" name="topic" ng-model="forum.topic.title" class="form-control" />
                        <br>
                        Subject: <input type="text" name="subject" ng-model="forum.topic.subtitle" class="form-control" />
                    </p>

                    <textarea ng-model="forum.topic.text" id="ckeditor-add" ckeditor></textarea>

                    <br>

                    <button ng-click="forum.addNewTopic(forum.topic);" class="btn btn-primary">Save</button>
                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal" ng-if="!isLogged()">
                <div class="modal-body">
                    <h1>Errore</h1>
                    Devi fare il login per procedere

                    <br>

                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal-background"></div>
        </modal>

        <modal id="add-topic-editor-modal">
            <div class="modal" ng-if="isLogged()">
                <div class="modal-body">
                    <h1>Add Topic</h1>
                    <p class="alert alert-danger" ng-if="addTopicError">
                        {{addTopicError}}
                    </p>
                    <p class="alert alert-success" ng-if="addTopicSuccess">
                        {{addTopicSuccess}}
                    </p>
                    <p>
                        Topic: <input type="text" name="topic" ng-model="forum.topic.title" class="form-control" />
                        <br>
                        Subject: <input type="text" name="subject" ng-model="forum.topic.subtitle" class="form-control" />
                    </p>

                    <textarea ng-model="forum.topic.text" id="ckeditor-add-topic" ckeditor></textarea>

                    <br>

                    <button ng-click="forum.addTopicSameLevel(current_topic, forum.topic);" class="btn btn-primary">Save</button>
                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal" ng-if="!isLogged()">
                <div class="modal-body">
                    <h1>Errore</h1>
                    Devi fare il login per procedere

                    <br>

                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal-background"></div>
        </modal>

        <modal id="reply-topic-editor-modal">
            <div class="modal">
                <div class="modal-body">
                    <h1>Reply to: {{current_topic.title}}</h1>
                    <p>
                        Topic: <input type="text" name="topic" ng-model="forum.topic.title" class="form-control" />
                        <br>
                        Subject: <input type="text" name="subject" ng-model="forum.topic.subtitle" class="form-control" />
                    </p>

                    <textarea ng-model="forum.topic.text" id="ckeditor-reply" ckeditor></textarea>

                    <br>

                    <button ng-click="forum.replyToTopic(current_topic, forum.topic);" class="btn btn-primary">Reply</button>
                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal-background"></div>
        </modal>

        <modal id="edit-topic-editor-modal">
            <div class="modal">
                <div class="modal-body">
                    <h1>Edit Topic: {{current_topic.title}}</h1>
                    <p>
                        Topic: <input type="text" name="topic" ng-model="current_topic.title" class="form-control" />
                        <br>
                        Subject: <input type="text" name="subject" ng-model="current_topic.subtitle" class="form-control" />
                    </p>

                    <textarea ng-model="current_topic.text" id="ckeditor-edit" ckeditor>{{current_topic.text}}</textarea>

                    <br>

                    <button ng-click="forum.editTopic(current_topic);" class="btn btn-primary">Salva Modifiche</button>
                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal-background"></div>
        </modal>

        <modal id="login-modal">
            <div class="modal">
                <div class="modal-body">
                    <h1>Login</h1>

                    <p class="alert alert-danger" ng-if="loginErrorMsg">
                        {{loginErrorMsg}}
                    </p>

                    <p>
                        Username: <input type="text" name="topic" class="form-control" ng-model="forum.newUser.login" my-enter="forum.login(forum.newUser);" />
                        <br>
                        Password: <input type="text" name="subject" class="form-control" ng-model="forum.newUser.password" my-enter="forum.login(forum.newUser);" />
                    </p>

                    <br>

                    <a href="#" ng-click="openModal('register-user-modal')">Registrati</a>

                    <br>
                    <br>
                    <br>

                    <button ng-click="forum.login(forum.newUser);" class="btn btn-primary">Login</button>
                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal-background"></div>
        </modal>

        <modal id="register-user-modal">
            <div class="modal">
                <div class="modal-body">
                    <h1>Register New User</h1>

                    <p class="alert alert-success" ng-if="registerSuccessMsg">
                        {{registerSuccessMsg}}
                    </p>
                    
                    <p class="alert alert-danger" ng-if="registerErrorMsg">
                        {{registerErrorMsg}}
                    </p>

                    <p>
                        Username: <input type="text" name="topic" ng-model="forum.newUser.username" class="form-control" />
                        <br>
                        Password: <input type="text" name="subject" ng-model="forum.newUser.password" class="form-control" />
                        <br>
                        Email: <input type="text" name="subject" ng-model="forum.newUser.email" class="form-control" />
                    </p>

                    <br>

                    <button ng-click="forum.registerNewUser(forum.newUser);" class="btn btn-primary">Register</button>
                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal-background"></div>
        </modal>

        <modal id="edit-user-modal">
            <div class="modal">
                <div class="modal-body" ng-if="isLogged()">
                    <h1>Edit User: {{current_user.username}}</h1>
                    <p>
                        Username: <input type="text" name="username" ng-model="forum.newUser.username" ng-init="forum.newUser.username = current_user.username" class="form-control" />
                        <br>
                        Nuova Password: <input type="password" name="password" ng-model="forum.newUser.newPassword" ng-init="forum.newUser.password = ''" class="form-control" />
                        <br>
                        Email: <input type="text" name="email" ng-model="forum.newUser.email" ng-init="forum.newUser.email = current_user.email" class="form-control" />
                    </p>

                    <br>

                    <button ng-click="forum.editUser(forum.newUser);" class="btn btn-primary">Salva Modifiche</button>
                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
                <div class="modal-body" ng-if="!isLogged()">
                    <h1>Devi Essere Loggato Per Modificare Il Tuo Profilo</h1>
                    <button ng-click="closeCurrentModal();" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal-background"></div>
        </modal>

        <!--/ Modals -->

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <!-- Angular Material Library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script> -->

    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>

    <script src="/scripts/angularjs-datepicker/dist/angular-datepicker.min.js"></script>

    <script src="/ng/client-config.js"></script>
    <script src="/ng/forum.js"></script>
    <script src="/ng/modal.js"></script>
    <script src="/ng/user.js"></script>
    <script src="/ng/ckeditor-ng.js"></script>
    <script src="app.js"></script>

</body>
</html>